# Step 1 - Data Engineering
The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.
Create a Jupyter Notebook file called data_engineering.ipynb and use this to complete all of your Data Engineering tasks.
Use Pandas to read in the measurement and station CSV files as DataFrames.
Inspect the data for NaNs and missing values. You must decide what to do with this data.
Save your cleaned CSV files with the prefix clean_.

In [3]:
#dependencies
import pandas as pd
import numpy as np

In [4]:
#read in csv
measurements_df = pd.read_csv("../data/hawaii_measurements.csv")
stations_df = pd.read_csv("../data/hawaii_stations.csv")

In [5]:
measurements_df.head() #dataframe structure

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [7]:
measurements_df[pd.isnull(measurements_df).any(axis=1)] #are there any NaNs?
measurements_df["prcp"].mean()
measurements_df["prcp"] = measurements_df["prcp"].fillna(measurements_df["prcp"].mean())

In [9]:
measurements_df.head() #dataframe structure

       station        date      prcp  tobs
0  USC00519397  2010-01-01  0.080000    65
1  USC00519397  2010-01-02  0.000000    63
2  USC00519397  2010-01-03  0.000000    74
3  USC00519397  2010-01-04  0.000000    76
4  USC00519397  2010-01-06  0.160644    73

In [10]:
len(measurements_df) #how many records are NaNs?

19550

In [6]:
stations_df[pd.isnull(stations_df).any(axis=1)]

Empty DataFrame
Columns: [station, name, latitude, longitude, elevation]
Index: []

In [7]:
measurements_df.to_csv("clean_measurements.csv", index = False)

In [8]:
stations_df.to_csv("clean_stations.csv", index = False)